doctype html 
html 
  head 
    title tours #{tour}
    link(rel="stylesheet", href="css/style.css")
  body
    div 
      - const x=5
      p=tour 
      p="balance"+balance*x 
      -const y=balance*x
    div 
      - let  a=[12,3]
      if(y>8)
      p chau mung dai gia 
      ul 
        for i in  a
          li=i  
